/*
  Workshop: Build a Nutritional Label
  Purpose: Practice CSS typography, font weights,
  spacing, borders, alignment, and layout.
*/

/* Base */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Nutrition Label */

.label {
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
  border: 2px solid black;
}

/* Header */

header h1 {
  margin: -4px 0;
  text-align: center;
  letter-spacing: 0.15px;
}

/* General Text */

p {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.bold {
  font-weight: 800;
}

.small-text {
  font-size: 0.85rem;
}

/* Dividers */

.divider {
  margin: 2px 0;
  border-bottom: 1px solid #888989;
}

.large,
.medium {
  border: 0;
  background-color: black;
}

.large {
  height: 10px;
}

.medium {
  height: 5px;
}

/* Calories */

.calories-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.calories-info h2 {
  margin: 0;
}

.left-container p {
  margin: -5px -2px;
  font-size: 2em;
  font-weight: 700;
}

.calories-info span {
  margin: -7px -2px;
  font-size: 2.4em;
  font-weight: 700;
}

/* Daily Value */

.right {
  justify-content: flex-end;
}

.indent {
  margin-left: 1em;
}

.double-indent {
  margin-left: 2em;
}

.daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
}

/* Nutrition Note */

.note {
  margin: 5px 0;
  font-size: 0.6rem;
}