/*
  Workshop: Design a Rothko Painting
  Purpose: Practice the CSS box model, transforms,
  overflow, filters, shadows, and border radius.
*/

/* Canvas */

.canvas {
  width: 500px;
  height: 600px;
  background-color: #4d0f00;
  overflow: hidden;
  filter: blur(2px);
}

/* Frame */

.frame {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: 50px solid black;
}

/* First Layer */

.one {
  width: 425px;
  height: 150px;
  margin: 20px auto;
  background-color: #efb762;
  border-radius: 9px;
  box-shadow: 0 0 3px 3px #efb762;
  transform: rotate(-0.6deg);
  filter: blur(1px);
}

/* Second Layer */

.two {
  width: 475px;
  height: 200px;
  margin: 0 auto 20px;
  background-color: #8f0401;
  border-radius: 8px 10px;
  box-shadow: 0 0 3px 3px #8f0401;
  transform: rotate(0.4deg);
  filter: blur(1px);
}

/* Third Layer */

.three {
  width: 91%;
  height: 28%;
  margin: auto;
  background-color: #b20403;
  border-radius: 30px 25px 60px 12px;
  box-shadow: 0 0 5px 5px #b20403;
  filter: blur(2px);
}